__pycache__
.vscode
work_dir
data/kovo*
kovo_train
.ipynb_checkpoints
exp/*
train_schedule*.sh
Test.ipynb
eval.ipynb
test.ipynb
debug.py
eval_vis.ipynb
demo.ipynb
demo_create.py
.idea/misc.xml
.idea/modules.xml
.idea/spot_simple_reg.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/.gitignore
